services:
  postgres:
      image: postgres:16-alpine
      container_name: audio-db
      ports:
        - "5432:5432"
      environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: audio_db